$link-bg-color: rgb(19, 16, 16);
$anchor-color : rgb(252, 237, 237);
$link-active-bg-color: rgb(56, 55, 55);

$anchor-font-size: 1em;

$header-height : 10rem;
$header-width : 100%;
$footer-height: 5rem;
$footer-width : 100%;

$links-height : 25%;
$site-name-height: 70%;
$container-left-width : 30%;
$container-right-width : 70%;
$container-width : 100%;
$bg-color: rgba(113, 146, 151, 0.596);



$mobile-width: 480px;
$tablet-width: 767px;
$desktop-width: 1200px;